.main{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: center
}
.result{
    width: 100%;
}
.loading {
    display: none;
    position: absolute;
    top: 20%;
    left: 45%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-left: 5px solid #3498db; /* Blue */
    border-bottom: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.result img{
    width: 100%;
    height: auto;
}
input{
    width: 300px;
    font-size: 19px;
}
select{
    margin:0 9px;
}
#submit{
    width: 80px;
    height: 45px;
    background: rgb(0, 181, 0);
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid rgb(0, 240, 0);
}
select,input{
    height: 45px;
    
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
}
@media (max-width:500px) {
    .main{
        width: 100%;
    flex-direction: column;
    align-items: flex-start;
    }
    select{
        margin: 8px 0 0 0;
    }
}